<h1><a href="/">HOME ROOT</a></h1>
<h2>Write your own Article</h2>

<form method="POST" action="/articles">
  <label for="articleTitle">Title:</label>
  <input type="text" name="articleTitle">

  <label for="articleBody">Body:</label>
  <input type="text" name="articleBody">

  <input id="articleTitle" type="submit" value="Submit Article!">
</form>
<hr>
<h2> <a href="/articles">Back to Articles!</a> </h2>